@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";


h1 {
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: mintcream;
    margin-left: 2rem;
}

.images div {

    display: flex;
    flex-direction: column;

}



nav {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

#parc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

parc section {
    margin-left : 2rem;
}

#parc article {
    width: 50%;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    #blog article {
        width: 85%;
    }
}


.parc-title {
    display: flex;
    align-items: center;
}

.parc-title a {
    color: steelblue;
    text-decoration: none;
    margin-left: .5rem;
}

.parc-title a:last-child {
    color: red;
}

.parc-title > div {
    margin-left: auto;
}

.post-author {
    margin: .5rem 0;
}

.post-excerpt {
    margin-bottom: 1rem;
}

.post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-detail > h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

input, textarea {
    display: block;
    padding: .75rem;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 600px;
}

label {
    display: inline-block;
    box-sixing: border-box;
    margin: 1rem 0;
}

.btn {
    padding: 1rem;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: white;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-submit {
    background-color: steelblue;
}

.btn-delete {
    background-color: indianred;
}

