{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

</head>
<body>

<nav>
    <a href="{% url 'parc:home' %}">Accueil</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'parc:create' %}">Ajouter un Parc</a>
    <a href="{% url 'parc:search' %}">Chercher un Parc</a>
    <a href="{% url 'parc:liste' %}">Derniers Parc ajoutés</a>
    {% endif %}


</nav>

<section id="parc">
    {% block content %}
    {% endblock %}
</section>

</body>
<footer>
    <a href="{% url 'parc:abus' %}">Signaler un Abus</a>
</footer>

</html>