{% extends 'base.html' %}
{% load easy_maps_tags %}

{% block title %}
<title>Accueil du blog</title>
{% endblock %}

{% block content %}


    {% for entry in queryset %}
    {% if recherche|lower in entry.adresse or recherche|lower in entry.name %}
    <div>
    <a href="{% url 'parc:details' slug=entry.slug %}">{{ entry.name }}{{ entry.address_1 }}
    , {{ entry.postal_code}} {{ entry.city }}</a>
        {% if entry.thumbnail %}
        <img src="{{ entry.resize_thumbnail.url }}" alt="image_du_parc">
        {% else %}
        <h2>Aucune image disponible pour l'instant</h2>
        {% endif %}

    </div>
    {% endfor %}
    {% else %}
    <h1>DESOLE, Aucun parc ne correspond</h1>
    {% endif %}


{% endblock %}