{% extends 'base.html' %}
{% load easy_maps_tags %}

{% block title %}
<title>Accueil du blog</title>
{% endblock %}

{% block content %}

    {% for entry in queryset %}
    {% if recherche|lower in entry.adresse or recherche|lower in entry.name %}
    <div>
        <a href="{% url 'parc:details' slug=entry.slug %}">Nom du Parc :{{ entry.name }}</a>
        {{ entry.city }}
        {% easy_map entry.adresse 300 400 %}
        {% if entry.thumbnail %}
        <img src="{{ entry.resize_thumbnail.url }}" alt="image_du_parc">
        {% else %}
        <h2>Aucune image disponible pour l'instant</h2>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}

{% endblock %}